body{
    background-color: rgb(192, 160, 120);
    color: beige;

}
.heading{
    width: 80%;
    font-size: 22px;
}
.name_of_objects, #result_object_name, #result_object_accuracy{
    color: beige;
}
#camera{
    border: 2px dashed black;
    width: 350px;
    height: 350px;
}
